
.icon{
    width:28px;
    height: 28px;
}

.icon-user {
    background: url("/assets/imgs/user.png") 2px no-repeat;
}

.icon-password {
    background: url("/assets/imgs/password.png") 2px no-repeat;
}

.icon-country {
    background: url("/assets/imgs/country.png") 2px no-repeat;
}
